<html>
  <body>
    <form method="POST" action="/new">
      <label for="username">Username: </label><br>
      <input type="text" name="username">
      <label for="message">Message: </label><br>
      <textarea name="message" id="newMessage-form"></textarea><br>
      <input type="submit" value="Post!">
    </form>
  </body>
</html>