<html>
  <body>
    <ul>
        <% messages.forEach((message) => { %>
          <!-- <li><%= message.text %> - <%= message.user %></li> -->
          <%- include('message', {user: message.user, message: message.text, id: message.id}); %>
        <% }); %>
    </ul>
    <a href="/new">Add a New Message</a>
  </body>
</html>